:root {
    --lightblue: #4a90e2;
    --darkblue: #2f5bea;
    --border: #e6e6e6;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000; 
    top: 0;
    padding:8px 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: 30px;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 53px;
}

.logo img {
    width: 200px;
    margin-right: 10px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 25px;
}

.nav-list li {
    display: inline;
    margin-right: 30px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.756);
    text-decoration: none;
}

.cta {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 5px 5px rgba(0, 82, 255, .1), 1px 10px 25px rgba(0, 82, 255, .1), 2px 5px 30px rgba(0, 82, 255, .3);
}

.btn:hover {
    background-color: #0056b3;
}





main {
    margin-top: 55px;
    padding: 0px;
}


.background-image{
    background-image: linear-gradient(to top, rgba(20, 53, 197, 0.703), rgba(0, 0, 0, 0) 50%) , linear-gradient(to left,  rgba(0, 0, 0, 0), rgba(40, 40, 178, 0.247)  50%), url(../srkr-background.jpg);
    align-items: center;
    background-position: top;
    background-size: cover;
    text-align: left;
    color: #fff;
    display: flex;
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    margin-top: 55px;
}

.background-content {
    padding: 20px;
    bottom: 100px;
    left:50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    user-select: none;

        
    
}

.background-title {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: left;
    white-space: wrap;
    /* text mask */
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom, #ffffff, #4d4d4d);
    font-weight: 750;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* text selection none */
    user-select: none;
    


}

.background-text {    
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    white-space: wrap;
}

.download-btn {
    background-color: #ffffff;
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-weight: 700;
    content: "Download";
}

.download-btn:hover {
    background-color: #f4f4f4;
}

.whats-new-btn{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-weight: 700;
    content: "Download";
}

.whats-new-btn:hover {
    background-color: #5a94d3;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    left:36%;
    top: 0;
}


#outerContainer {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top:20px;
}

#container {
    position: relative;
    width: 300px; /* Adjusted width */
    height: 50px; /* Adjusted height */
    background-color: white;
    border: 1px solid var(--border);
    margin: 0;
    border-radius: 25px; /* Adjusted border radius */
    touch-action: none;
    overflow: hidden; /* Added overflow hidden to contain the pseudo-element */
    /* realtistic 3d border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


}

#container.select-left .left span {
    opacity: 1;
    color: white;
}

#container.select-right .right span {
    opacity: 1;
    color: white;
}

#item {
    position: absolute;
    width: 150px; /* Adjusted width */
    height: 100%;
    left: 0;
    background-color: var(--darkblue);
    border-radius: 25px; /* Adjusted border radius */
    transition: all .2s cubic-bezier(0.04, 0.46, 0.36, 0.99);
    cursor:pointer;

}

.left,
.right {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    top: 0;
    pointer-events: none;
    color: #0056b3;
}

.left span,
.right span {
    font-family: sans-serif;
    font-size: 16px; /* Adjusted font size */
    pointer-events: none;
    color: var(--lightblue);
    transition: all .2s ease;
    font-weight: 500;
    text-transform: uppercase; /* Convert text to uppercase for a professional look */
}

.left {
    left: 0;
    color: #0056b3;
}

.right {
    right: 0;
    color: #0056b3;
}


.login-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    padding-bottom: 30px; 
    padding-top:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 30px; /* Adjusting the top margin */
    display: none;
}

h2 {
    text-align: center;
    color: #0366d6; /* GitHub blue color */
}

label {
    display: block;
    margin-bottom: 6px;
    color: #24292e; /* GitHub text color */
}

input[type="text"],

input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #e1e4e8; /* GitHub border color */
    border-radius: 6px;
    transition: all 0.3s ease;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #0366d6; /* GitHub blue color */
    box-shadow: 0 0 5px #0366d6; /* GitHub blue color */
    transform: scale(1.02);
}

input[type="submit"] {
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #0366d6; /* GitHub blue color */
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #005cc5; /* Darker shade of GitHub blue */
    transform: scale(1.05);
}

input[type="submit"]:active {
    background-color: #3e8e41; /* Darker shade of GitHub green */
    transform: scale(0.95);
}

.error {
    color: #d73a49; /* GitHub error color */
    margin-top: 10px;
}






/* body-content */


.body-content {
    padding: 20px;
    flex-direction: row;
    width: 100%;
}




/* fotter  */

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column h3 {
    margin-bottom: 10px;
    color: white; /* Inherit color from the footer */
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links li a {
    color: white;
    text-decoration: none;
}


/* Responsive */


html {
    overflow-x: hidden;
}



/* Responsive  */

@media screen and (max-width: 768px) {
    .header {
        padding: 10px 0;
    }

    .header-left {
        margin-left: 10px;
    }

    .header-right {
        margin-right: 10px;
    }

    .nav-list {
        margin-right: 10px;
        display: none;
    }

    .background-content {
        padding: 10px;
        bottom: 100px;
        left:30px;
    }

    .background-title {
        font-size: 50px;
    }

    .background-text {
        font-size: 14px;
    }

    .form-container{
        left: 0%;

    }


    .news-row {
        flex-direction: column; /* Arrange items vertically for smaller screens */
        
    }
  
    .news-item {
        flex: none; /* Reset flex to allow each item to take full width */
        margin: 0; /* Reset margin */
        width: 100%; /* Set width to full width */
        margin-bottom: 40px;
    }


    
    .footer-inner {
        flex-direction: column;
    }

    .footer-column {
        flex: 1;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-column:last-child {
        margin-bottom: 0;
    }
}



/* Responsive  */

@media screen and (max-width: 576px) {
    .header {
        padding: 10px 0;
    }

    .header-left {
        margin-left: 10px;
    }

    .header-right {
        margin-right: 10px;
    }

    .nav-list {
        margin-right: 10px;
        display: none;
    }

    .background-content {
        padding: 10px;
        bottom: 70px;
        left:30px;
    }

    .background-title {
        font-size: 35px;
    }

    .background-text {
        font-size: 14px;
    }
    

    .footer-inner {
        flex-direction: column;
    }

    .footer-column {
        flex: 1;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-column:last-child {
        margin-bottom: 0;
    }
}

