.profile-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container .profile-part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(images/back-img.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 10px rgba(46, 172, 223, 0.1);
    margin-bottom: 20px;

}

.profile-part1-pic {
    position: relative;
    width: 120px;
    height: 110px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(46, 172, 223, 0.1);
    border: 5px solid #fff;
    padding: 10px;
    left: 40px;
}

.profile-part1-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.18); /* Adjust scale as needed */
}

.profile-part1-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.profile-part1-details .student-name {
    font-size: 1.41rem;
    font-weight: 600;
    color: #323232;
    text-align: right;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-part1-details p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2e2e2e;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-part2 {
    display: flex;
    flex-direction: column;
}

.profile-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-navbar button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #0a66f0cb; /* Blue */
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-navbar button:hover {
    background-color: #0f6efe; /* Dark Blue */
}

.profile-navbar button.active {
    background-color: #0f6efe; /* Dark Blue */
}

.profile-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9; /* Light Gray */
}

.profile-content.active {
    display: block;
}

/* Unique Table Styling */

/* Unique Table Styling */
.blue-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blue-table th,
.blue-table td {
    padding: 12px;
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff ; /* Blue border color */
}

.blue-table th {
    background-color: #0f6efe; /* Blue background color */
    color: #fff; /* White text color */
    font-weight: bold;
    text-transform: capitalize; /* Convert text to uppercase */
    margin-bottom: 10px;


}

.blue-table td {
    font-weight: 500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    color: #2e2e2e; 
    border-bottom: 2px solid #ffffff ; 
}

/* even td brown color */
.blue-table tr:nth-child(even) {
    background-color: #f3f3f3; /* Light gray background color */
}


.blue-table tr:hover {
    background-color: #f0f0f0; /* Light gray background color on hover */
}

/* Edit button styling */
.Generate-resume{
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #0a66f0cb; /* Blue */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.edit-button {
    /* alignt the button to the right side if the page with small button size */
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #0a66f0cb; /* Blue */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

.edit-button:hover {
    background-color: #0964ec; /* Dark Blue */
    
}










/* Media queries */

@media screen and (max-width: 768px) {
    .profile-container .profile-part1 {
        flex-direction: column;
    }

    .profile-part1-pic {
        width: 100px;
        height: 90px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 0;
        top: 15px;
    }

    .profile-part1-pic img {
        scale: 1.1; /* Adjust scale as needed */
    }

    .profile-part1-details {
        align-items: center;
        padding: 10px;
    }

    .profile-part1-details .student-name {
        font-size: 1.2rem;
    }

    .profile-part1-details p {
        font-size: 1rem;
    }

    .profile-navbar {
        flex-direction: row;
        justify-content: space-around;
        font-size: 1rem;
    }

    .profile-navbar button {
        padding: 10px 15px;
        margin: 0 5px;
    }

    .profile-content {
        padding: 10px;
    }

    .blue-table th,

    .blue-table td {
        padding: 10px;
    }

    .edit-button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }

    .profile-container {
        padding: 5px;
    }


}




.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    padding: 20px;
}

.modal-body label {
    display: block;
    margin-bottom: 5px;
}

.modal-body input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.modal-body button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-body button:hover {
    background-color: #0056b3;
}

.close {
    cursor: pointer;
}

/* for mobile screen too */
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}

.profile-navbar {
    display: flex;
}

.profile-nav-item {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    /* font family */
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-nav-item:hover {
    background-color: #0056b3;
}


