RewriteEngine On
RewriteBase /srkrcse/srkr-cse/

# Rewrite rule for accessing admin.php with ID parameter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ Admin/admin.php?id=$1 [L,QSA]
