RewriteEngine On

# Redirect requests to Admin/admin.php if the secret key is provided
RewriteCond %{QUERY_STRING} ^key=SRKRCSE$
RewriteRule ^Admin/admin\.php$ - [L]

# Redirect all other requests to srkr.me
RewriteRule ^Admin/admin\.php$ https://srkr.me [R=301,L]
