RewriteEngine On
RewriteBase /

# Redirect requests to srkr.me/SRKRCSE to admin.php
RewriteCond %{REQUEST_URI} ^/SRKRCSE$
RewriteRule ^(.*)$ /Admin/admin.php [L]

# Redirect any other requests to srkr.me
RewriteCond %{REQUEST_URI} !^/Admin/admin\.php$
RewriteRule ^(.*)$ http://srkr.me [L,R=301]
